/* ANIMO PURPLES */
/* 86559F */
/* dec4ec */

/* GENERAL */

.container {
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 6.5vh;
}

input {
    border: none;
    border-bottom: 1px solid #bdb8b8;
    font-family: inherit;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0px 0px #86559f;
  transition: box-shadow ease-in-out 0.1s;
}

input:hover {
    box-shadow: 3px 3px #86559f;
  }

input:focus {
    box-shadow: 5px 5px #86559f;
  }

label {
    text-transform: uppercase;
    font-size: 12px;
    width: 35%;
}

#btn_form:hover, #btn_download:hover {
    background-color: #FFFFFF;
    color: #86559f;
    transition: 0.3s;
    box-shadow: 5px 5px #86559f;
}

/* HEADER */

.header {
    background: linear-gradient(rgba(134,85,159,0.580046403712297), rgba(134,85,159,0.37587006960556846)), url(./imgs/bg_s1.jpg) no-repeat center center;
    color: #FFFFFF;
}

.form_header {
    display: flex;
    flex-direction: column;
}

#btn_form {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 15px auto 0px auto;
    width: 100%;
    padding: 15px;
    color: #FFFFFF;
    background-color: #86559f;
    border: none;
    box-shadow: 0px 0px #86559f;
    transition: box-shadow 0.2s ease-in-out;
}

/* MISSION */

.mission {
    background-color: #dec4ec;
}

.textbox_mission {
    font-weight: 200;
    padding: 10px 0;
}

/* CLUBE ANIMO */

.clubeanimo {
    background: linear-gradient(180deg, rgba(244, 245, 247, 1) 0%, rgba(255, 255, 255, 0.896796218487395) 65%, rgba(255, 255, 255, 0.896796218487395) 91%);
}

.clubeanimo li, .clubeanimo p {
    padding: 5px 10px;
}

.icon {
    max-width: 20px;
    display: inline;
}

.card_li {
    display: block;
}

.cards_clubeanimo {
    border: 1px solid #bdb8b8;
    border-radius: 5px;
    margin: 15px 0;
}

.card_p_clubeanimo {
    display: inline;
}

.card_info_clubeanimo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_img_clubeanimo {
    max-width: 124px;
    width: 100%;
    padding: 25px 0 15px;
}

.card_list_clubeanimo {
    border-top: 1px solid #bdb8b8;
    margin: 20px 5px;
    padding-top: 15px;
}

/* VALUES */

.values {
    background-color: #FEF9F4;
}

.orange {
    color: #F1592B;
}

.textbox_values {
    padding: 10px 0 25px;
}

#img_div {
    background: linear-gradient(rgba(134,85,159,0.580046403712297), rgba(134,85,159,0.37587006960556846)), url(./imgs/running.jpg) no-repeat center center;
    height: 300px;
}

.review {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    font-size: 14px;
    border-bottom: 3px solid #0187D1;
}

.reviews_author {
    margin-top: 5px;
}

/* CREW */

.crew {
    background-color: #FFFFFF;
}

.crewmember {
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#crewmember_img {
    width: 100%;
    max-width: 140px;
    padding-bottom: 10px;
}

/* APP */

.app {
    display: flex;
    flex-direction: column;
    background-color: #F4F5F7;
}

.purple {
    color: #86559F;
    font-weight: 700;
    display: inline;
}

.p_app {
    margin: 25px 0;
}

.text_container_app {
    display: inline-block;
    margin: 15px 0;
}

.textbox_app {
    font-weight: 600;
    margin: 10px 0;
    display: inline;
}

#icon_app {
    max-width: 25px;
    display: inline;
    padding-right: 5px;
}

#btn_download {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    width: fit-content;
    padding: 15px;
    margin: 15px auto 0px auto;
    color: #FFFFFF;
    background-color: #86559f;
    border: none;
    box-shadow: 0px 0px #86559f;
    transition: box-shadow 0.2s ease-in-out;
}

.screenshots {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 200px;
    margin: 15px 0 30px;
}

#screenshot_app {
    flex-grow: 1;
    height: 100%;
    margin: 0 3px;
}

/* SUPPORT */

.support {
    background-color: #dec4ec;
}

.textbox_support {
    text-align: center;
    margin-top: 20px;
}

.dash {
    border-top: 1px solid #86559F;
    padding-top: 30px;
}

.a_support {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

/* FAQ */

.faq {
    background-color: #FFFFFF;
}

.textbot_faq {
    margin: 25px 0;
}

.q_faq {
    font-weight: 700;
}

.a_faq {
    font-weight: 200;
}

/* MEDIA QUERIES */